@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

form {
	display: contents;
}

form input, #posterName, #posterDetails, #postContent {
	width: 100%;
	padding: 20px;
	font-size: 25px;
	background-color: transparent;
	color: white;
	border: 2px solid #cc6666;
	border-radius: 1rem;
	margin-bottom: 2rem;
	transition: all 0.3s;
	box-sizing: border-box;
	outline: none;
}

form input:focus, #posterName:focus, #posterDetails:focus, #postContent:focus {
	border-color: #cc4949;
}

.profile-image img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid #cc6666;
	transition: all 0.3s;
	display: block;
	margin: auto;
}

.inputGroup label {
	display: block;
	color: #3c454c;
	background-color: #fff;
	cursor: pointer;
	padding: 12px 50px;
	transition: color 200ms ease-in;
	position: relative;
	z-index: 2;
}

.inputGroup label:before, .inputGroup label:after {
	content: "";
	position: absolute;
	transition: all 200ms ease-in;
}

.inputGroup input:checked + label:before {
	transform: scale(56);
	opacity: 1;
}

.inputGroup input:checked + label:after {
	background-color: #54e0c7;
	border-color: #54e0c7;
}

.btn {
	background: transparent;
	padding: 15px;
	color: #1ecd97;
	border: 2px solid #1ecd97;
	border-radius: 4px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: all 500ms;
	width: 200px;
	text-align: center;
	cursor: pointer;
}

.btn-fill:after {
	animation: fill 3.2s linear forwards;
}

@keyframes fill {
	from { transform: scaleX(0); }
	to { transform: scaleX(1); }
}
